<p id="notice"><%= notice %></p>

<p>
  <b>Id venda:</b>
  <%= @descr_venda.id_venda %>
</p>

<p>
  <b>Cod:</b>
  <%= @descr_venda.cod %>
</p>

<p>
  <b>Produto:</b>
  <%= @descr_venda.produto %>
</p>

<p>
  <b>Valor unit:</b>
  <%= @descr_venda.valor_unit %>
</p>

<p>
  <b>Quant:</b>
  <%= @descr_venda.quant %>
</p>

<p>
  <b>Valor total:</b>
  <%= @descr_venda.valor_total %>
</p>

<p>
  <b>Fonecli:</b>
  <%= @descr_venda.fonecli %>
</p>

<p>
  <b>Data venda:</b>
  <%= @descr_venda.data_venda %>
</p>

<p>
  <b>Tipo prod:</b>
  <%= @descr_venda.tipo_prod %>
</p>


<%= link_to 'Edit', edit_descr_venda_path(@descr_venda) %> |
<%= link_to 'Back', descr_vendas_path %>
